/*// PRETTY DESIGN //*/	
html{min-height:100%;position:relative;}	
body {
	background-image: url(images/snow-forrest.jpg);
	background-repeat: repeat-x;
	background-size: cover;
	background-size: auto 100vh;
	background-attachment: fixed;
	overflow-x: hidden;
}

.snow{
	display: block;
	background-image: url('images/snow-1.png'), url('images/snow-2.png'), url('images/snow-3.png');
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index:1;
	-webkit-animation: snow 40s linear infinite;
	-moz-animation: snow 40s linear infinite;
	-ms-animation: snow 40s linear infinite;
	animation: snow 40s linear infinite;
}
@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
     100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
.splash {
	background-image: url('images/title-portrait.png');
	background-repeat: no-repeat;
	background-size:auto 100%;
	background-position: left center;
}
.splash span {
	visibility:hidden;
}

a#begin {	
	background: rgba(1,14,24,.8);
	bottom: 30px;
	right: 40px;
	border: none;
	margin: 0px 80px 0px auto;
}	



#top-list > li { 
	display: inline-block;
	width: 130px;
	padding-top: 130px;
	background: none;
    background-image: url('images/ports/c_01.png'); 
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-color: none;	
	border: none;
}
		
#top-list > li:hover { 
	border: none;
}

.charSelect+label,
.charSelect~li {
	opacity: .6;
}
.charSelect+label:hover,
.charSelect:checked+label { 
	opacity: 1;
}
 .charSelect+label+p {      
       background: -moz-linear-gradient(top,  rgba(12,20,24,0) -1%, rgba(12,20,24,0.03) 0%, rgba(12,20,24,0.85) 30%, rgba(12,20,24,1) 100%); /* FF3.6-15 */
       background: -webkit-linear-gradient(top,  rgba(12,20,24,0) -1%,rgba(12,20,24,0.03) 0%,rgba(12,20,24,0.85) 30%,rgba(12,20,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
       background: linear-gradient(to bottom,  rgba(12,20,24,0) -1%,rgba(12,20,24,0.03) 0%,rgba(12,20,24,0.85) 30%,rgba(12,20,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
 }
 
  .charSelect+label+p span{
	background: none;	  
	border: none;
 }
 
.charSelect:checked+label+p > span {
	display: inline-block;
	width: 130px;
	position: relative;
	padding-top: 130px;
	top: 80px;
    background-image: url('images/ports/c_01.png'); 
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center -10px;
	background-color: none;	
}

.charSelect:checked+label+p > span br {
	display: block!important;
}

input[type="radio"]+label {
	padding-top: 140px;
}
		
#characters {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,.7) 50%, rgba(0,0,0,0) 100%); 
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 10%,rgba(0,0,0,.7) 50%, rgba(0,0,0,0) 100%0); 
	background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,.7) 50%,rgba(0,0,0,0) 100%); 
	z-index: -1;
}


/*// DEGREE PORTRAITS //*/
#alliser, .alliser { }
#arya, .arya{ background-position: -605px -1245px }
#balon, .balon{ background-position: -605px -1245px}
#benjen, .benjen{ background-position: -605px -1245px}
#beric, .beric{ background-position:-605px -1245px }
#brandon, .brandon{ background-position: -605px -1245px}
#breinne, .brienne{ background-position: -605px -1245px}
#bronn, .bronn{ background-position:-605px -1245px }

.jon { background-image: url(images/jon-portrait-big.png)!important;}