/*// PRETTY DESIGN //*/		
body {
	background-image: url(snow-forrest.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100vh;
	background-attachment: fixed;
	overflow-x: hidden;
}


header img {
}


#character-list ul > li { 
	
		display: inline-block;
			width: 130px;
			padding-top: 130px;
			background-image: url(jon-portrait-big.png);
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: top middle
}

		.charSelect:checked+label+p > span {
			display: inline-block;
			width: 130px;
			position: relative;
			padding-top: 130px;
			
			top: 80px;
			background-image: url(jon-portrait-big.png);
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: top middle
		}
		.charSelect:checked+label+p > span br {
			display: block!important;
		}
		
		.charSelect+label+p {
			padding: 20px;
			background: none;
			text-align: center;
			border-top: none;
			border-bottom: none;
			margin: 0px auto;
		}
		
#characters {

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 9%, rgba(0,0,0,.4) 100%); 
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 9%,rgba(0,0,0,.4) 100%); 
	background: linear-gradient(to bottom, rgba(0,0,0,0) 9%,rgba(0,0,0,.4) 100%); 
	z-index: -1;
}
#snow{
	background-image: url('snow-1.png'), url('snow-2.png'), url('snow-3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 40s linear infinite;
	-moz-animation: snow 40s linear infinite;
	-ms-animation: snow 40s linear infinite;
	animation: snow 40s linear infinite;
}
@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
     100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }