/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/*// THE STYLES //*/
.frame {
	width: 80%; 
	margin: 0px auto; 
	padding-top: 10px; 
}


body {
	background-color: #000;
	color:#fff;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 22px;
	text-shadow: 2px 2px 45px rgba(12, 65, 90, 1); 
}
span {display: block;}
h1 {margin-left: -50px; }
h2 { 
	width: 60%; 
	margin: 0px auto;
	font-weight: normal; 
	font-size: 1em; 
	line-height: 1.8em; 
	text-align: center; 
	color: #fff; 
	text-shadow: 2px 2px 45px rgba(12, 65, 90, 1); 
	}
header {
	height: 900px;
	padding-top: 120px;
	
}	
	
.splash {
	
	position: relative;
	z-index: 5;
	display: block;
	width: 1000px;
	height: 517px;
	text-align: center;
	margin: 0px auto;
	position: relative;
	font-family: Georgia;
}	
.big { 
	position: relative;
	padding-top: 100px; 
	margin-left: 50px; 
	font-size: 8.2em; 
	font-family: georgia; 
	font-weight: bold; 
	line-height: .8em; 
	color: rgba(255,255,255,0);
	-webkit-text-stroke:4px #fff;
	text-stroke: 4px #fff;
}

.small { font-size: 2.2em; position: relative; display: inline-block; }
.small:before,
.small:after {
  content: "";
  position: absolute;
  margin-top: 15px;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 100px;
}
.small:before {
  right: 100%;
  margin-right: 15px;
}
.small:after {
  left: 100%;
  margin-left: 15px;
}
.mid {
	font-size: 4em;
}

	
a#begin {
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.4em;
	font-family: Georgia;
	padding: 10px 50px;
	background: rgba(1,14,24,1);
	color: #fff;
	border-radius: 8px;
	letter-spacing: 4px;
	font-weight: bold;
	display: inline-block;
	z-index: 5;
	bottom: 30px;
	right: 0;
	left: 0;
	margin: 0px auto;
	width: 160px;
	border: 1px solid #fff;
}	
a#begin:hover {
	background:	 rgba(1,14,24,.65);
	border: 1px solid #fff;
}

#splash {
	display: inline-block;
}
#characters {
	position: relative;
	z-index: 5;
	min-height: 200vh;
	padding-top: 5%;
}
#instructions {
	display: block;
	padding-top: 40px;
	margin-bottom: 30px;
	text-align: center;
	
}

#top-list {padding: 0px; text-align: center; list-style-type: none;}

.charSelect+label+p span,
#top-list > li {
	position:relative;
	display: inline-block; 
	width: 12%;
	height: 80px;
	text-align: left;
	font-size: .9em;
	font-weight: normal;
	margin-bottom: 5px;
	background: rgba(1,14,24,1);
	border: 2px solid rgba(1,14,24,1);
	border-radius: 8px;
}

.charSelect+label+p span {
	text-align: center;
}

#top-list > li:hover {
	border: 2px solid rgba(255,255,255,.6);
}

input[type="radio"] { background: none; visibility: hidden; margin-left: -10px;} 
input[type="radio"]+label {
	position: absolute;
	top: 0;
	display: block;
	cursor: pointer;
	height: 100%;
	width: 100%;
	text-align: center;
	color:#fff;
	text-shadow: 2px 2px 45px rgba(12, 65, 90, 1); 
	padding-top: 20px;
}
.charSelect+label+p{
	color: #fff;
	font-size: .8em;
	opacity: 0;
	width: 0px;
	padding-top: 10px;
	font-size: 1.2em;
	transition: all .2s;
	-webkit-transition: all .2s;
	position: fixed;
	bottom: 100px;
	left: 0;
	right: 0;
	padding: 20px;
	background: rgba(255,255,255, .21);
	text-align: center;
	border-top: 6px double  rgba(215, 215, 215, .4);
	border-bottom:6px double  rgba(215, 215, 215, .4);
	margin: 0px auto;
	z-index: 15;
}
.charSelect:checked+label+p{
	opacity: 1;
	width: 90%;
	transition: all ease-in .4s;
	-webkit-transition: all ease-in .4s;
	text-align: center;
}
 .charSelect+label+p {      
       background: rgba(255,255,255,.3);
      -webkit-animation-duration: 1s;
       animation-duration: 1s;
       -webkit-animation-fill-mode: both;
       animation-fill-mode: both;
       padding: 0 1vw 150px;
       text-align: center;
       border-top: none;
       border-bottom: none;
       margin: 0;
       width:98vw !important;
       bottom:0;
       max-height:50vh;
       overflow-y:scroll;
     }
 
    .charSelect+label+p em{
       white-space: nowrap;
       color:#80929b;
     }
 
    @-webkit-keyframes fadeInBottom {
       from {
       opacity: 0;
       -webkit-transform: translate3d(0, 100%, 0);
       transform: translate3d(0, 100%, 0);
       }
  
      to {
       opacity: 1;
       -webkit-transform: none;
       transform: none;
       }
     }
 
    @keyframes fadeInBottom {
       from {
       opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
       transform: translate3d(0, 100%, 0);
       }
    to {
       opacity: 1;
       -webkit-transform: none;
       transform: none;
       }
     }
 
    .charSelect:checked+label+p{
       -webkit-animation-name: fadeInBottom;
         animation-name: fadeInBottom;
     }
 
    
 

		
.copy404{
	display: block;
	margin: 0px auto;
	width: 80%;
	text-align: center;
}	

.copy404 .mid {
	opacity: .7;	
}

@media screen and (max-width: 500px) {
	.copy404 .big {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 6em;
	}
	.copy404 .mid {
		font-size: 1.2em;
		margin-top: 20px;
		opacity: 1;
	}
}
@media screen and (max-width: 330px) {
	.copy404 .big {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 5em;
		-webkit-text-stroke:4px #fff;
		text-stroke: 2px #fff;
	}
	.copy404 .mid {
		opacity: 1;
	}
}